---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <main class="py-12 px-6">
    <Header />
  </main>
</Layout>

<style></style>
